body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
}


.row{
    width: 100%;
    float: left;
}
div.content{
    border: 1px solid #fbfbfb;
    background-color: #fff;
    max-width: 640px;
    width: 96%;
    padding: 2%;
    margin: 2% 20%;
    float: left;
}

.field{
    margin-top: 20px;
    margin-bottom: 10px;
}

.field  label{
        width: 115px;
        float: left;
        margin-right: 20px;
}

.field input[type='text']{
    width: 300px;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.add_fields{

}



.alert {
    padding: 20px;
    border: 1px solid;
}
.alert-notice{
    color: green;
}

.alert-error{
    color: red;
}

.item-listing li{
    padding: 10px;
}

div.label{
   padding-top: 10px;
   padding-bottom: 10px;
}
.text{
    width: 300px;
    height: 20px;
}

textarea{
    width: 300px;
    height: 90px;
}

.help-inline{
    color: #800000;
}

.checkbox_radio_labels{
    border: 1px solid;
    margin-left: 20px;
    margin-top: 20px;
    padding: 15px;
}

header{
    margin-top: 2%;
    margin-left: 2%;
}